![]()

# Python (podstawy) - typy danych

_Mikołaj Leszczuk_

## Podstawowe typy danych

* W języku Python możemy używać wielu typów danych na które będą wskazywały nasze zmienne
* Najczęściej używane typy danych poznamy dzisiaj

### Wyświetlanie w Pythonie

* Do wyświetlania napisów, oraz zawartości zmiennych, stałych i innych obiektów w języku Python służy funkcja `print(x)`, gdzie `x` jest rzeczą, która zostanie wyświetlona
* W Pythonie funkcje są zapisywane podobnie jak w matematyce, czyli `f(x,y)`, gdzie `f` to nazwa funkcji a `x` oraz `y` to argumenty przekazywane do funkcji
* Jedną z dostępnych funkcji jest `type(obj)`, która zwraca informacje o typie zmiennej lub obiektu `obj`

### Typ numeryczny

### Podstawowe typy danych

* Python rozróżnia typy liczb:
  * Całkowite np. `0`, `1`, `5`, `2137670`, `-45600`, …
  * Rzeczywiste np. `0.5`, `1/3`, `1.67e-10`, `6.023e+23`, …
  * Zespolone
* Można konwertować między sobą również zmienne zawierające liczby całkowite na liczby rzeczywiste:
  * `float()` oraz na odwrót 
  * `int()`
* Typ danych na który wskazuje dana zmienna możemy sprawdzić poleceniem (funkcją) `type()`

In [1]:
i = 2

In [2]:
print(type(i))

<class 'int'>

In [3]:
f = 2.71828

In [4]:
print(type(f))

<class 'float'>

In [5]:
c = 0.5 + 1j

In [6]:
print(type(c))

<class 'complex'>

In [7]:
print(float(i), " ", int(f), " ", c)

2.0   2   (0.5+1j)

### Typ logiczny

* Zawiera wartości logiczne **_prawda_** i **_fałsz_**

In [8]:
a = 2 > 1

In [9]:
print(a)

True

In [10]:
print(type(a))

<class 'bool'>

In [11]:
b = 2.71828 > 3

In [12]:
print(b)

False

In [13]:
print(type(b))

<class 'bool'>

### Typ znakowy

* Zawiera pojedyncze znaki lub ciągi znaków

In [14]:
znak = "A"

In [15]:
print(znak)

A

In [16]:
print(type(znak))

<class 'str'>

In [17]:
napis = "Ala ma kota"

In [18]:
print(napis)

Ala ma kota

In [19]:
print(type(napis))

<class 'str'>

* Również w napisach można sprawdzić zawartość każdego elementu
  * `a[start:stop]  # elementy od start do stop-1`
  * `a[start:]      # elementy od start do reszty tablicy`
  * `a[:stop]       # elementy od początku do stop-1`
  * `a[:]           # kopia całej tablicy`
* Istnieje również wartość kroku (`step`), której można użyć z dowolnym z powyższych:
  * `a[start:stop:step]  # elementy od start do stop-1, co step`

In [20]:
napis = "Ala ma kota"

In [21]:
print(napis[0])

A

In [22]:
print(napis[-1])

a

In [23]:
print(napis[-3:-1])

ot

In [24]:
print(napis[::2])

Aam oa

* Napisów, w przeciwieństwie do list, nie można zmieniać

In [25]:
napis = "Ala ma kota"

In [26]:
napis[-1] = "y"

TypeError: 'str' object does not support item assignment

* Można jednak zapisać do zmiennej znakowej nową treść

In [27]:
napis = "Ala ma kota"

In [28]:
napis = "Ala ma koty"

In [29]:
napis = "Ala będzie miała kotki dwa"

* Typ danych na który wskazuje dana zmienna możemy sprawdzić poleceniem type()

In [30]:
zmienna = "Ala ma kota a kot ma psa"

In [31]:
print(zmienna)

Ala ma kota a kot ma psa

In [32]:
print(type(zmienna))

<class 'str'>

In [33]:
zmienna = 127

In [34]:
print(zmienna)

127

In [35]:
print(type(zmienna))

<class 'int'>

In [36]:
zmienna = "127"

In [37]:
print(zmienna)

127

In [38]:
print(type(zmienna))

<class 'str'>

In [39]:
zmienna = "127"*127

In [40]:
print(zmienna)

127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127127

In [41]:
print(type(zmienna))

<class 'str'>

* Jednak nie można dodawać do siebie różnych typów zmiennych

In [42]:
napis = "Ala ma kota a kot ma psa"

In [43]:
liczba_calkowita = 2

In [44]:
napis + liczba_calkowita

TypeError: can only concatenate str (not "int") to str

* By je dodać, trzeba jedną z nich skonwertować do czego służą wbudowane funkcje `str()`, `int()`, `float()`, `complex()`

In [45]:
napis = "Ala ma kota a kot ma psa"

In [46]:
liczba_calkowita = 2

In [47]:
zmienna + str(liczba_calkowita)

'1271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271271272'

#### Pytanie do ćwiczenia

* Biorąc pod uwagę ciąg o nieparzystej długości większej niż 7, zwróć łańcuch złożony z trzech środkowych znaków danego ciągu:
  * Przypadek 1:\
    `str1 = "Datatypes"`
    * Oczekiwany wynik:\
    `lSt`
  * Przypadek 2:\
    `str2 = "FullStack”`
    * Oczekiwany wynik:\
    `aty`

#### Rozwiązanie

In [48]:
sampleStr="Datatypes"
middleIndex = int(len(sampleStr) / 2)
print("Oryginalny ciąg to", sampleStr)
middleThree = sampleStr[middleIndex - 1:middleIndex + 2]
print("To są trzy środkowe znaki", middleThree)

Oryginalny ciąg to Datatypes
To są trzy środkowe znaki aty

In [49]:
sampleStr="FullStack"
middleIndex = int(len(sampleStr) / 2)
print("Oryginalny ciąg to", sampleStr)
middleThree = sampleStr[middleIndex - 1:middleIndex + 2]
print("To są trzy środkowe znaki", middleThree)

Oryginalny ciąg to FullStack
To są trzy środkowe znaki lSt

#### Pytanie do ćwiczenia

* Biorąc pod uwagę 2 ciągi, `s1` i `s2`, utwórz nowy ciąg, dodając `s2` w środku `s1`
* Dane:
  * `s1 = "FullStack"`
  * `s2 = "Kelly”`
* Oczekiwany wynik:\
  `FullPythonStack`

#### Rozwiązanie

In [50]:
s1 = "FullStack"
s2 = "Python"
middleIndex = int(len(s1) /2)
print("Oryginalne ciągi są", s1, s2)
middleThree = s1[:middleIndex:]+ s2 +s1[middleIndex:]
print("Po dołączeniu nowego ciągu w środku", middleThree)

Oryginalne ciągi są FullStack Python
Po dołączeniu nowego ciągu w środku FullPythonStack

#### Pytanie do ćwiczenia

* Biorąc pod uwagę 2 ciągi, `s1` i `s2` zwróć nowy ciąg złożony z pierwszego, środkowego i ostatniego znaku każdego ciągu wejściowego
* Dane:
  * `s1 = "America"`
  * `s2 = "Japan"`
* Oczekiwany wynik:\
`AJrpan`

#### Rozwiązanie

In [51]:
s1 = "America"
s2 = "Japan"
first_char = s1[:1] + s2[:1]
middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]
last_char = s1[len(s1) - 1] + s2[len(s2) - 1]
res = first_char + middle_char + last_char
print("Mix String to ", res)

Mix String to  AJrpan

#### Pytanie do ćwiczenia

* Odwróć podany ciąg
* Dane:\
`str1 = "Python"` 
* Oczekiwany wynik:\
`nohtyP`

#### Rozwiązanie

In [52]:
str1 = "Python"
print("Oryginalny ciąg to:", str1)

Oryginalny ciąg to: Python

In [53]:
str1 = str1[::-1]
print("Odwrócony ciąg to:", str1)

Odwrócony ciąg to: nohtyP

## Złożone typy danych

### Lista

* Bardzo często najlepiej mieć zmienną zawierającą więcej więcej niż jedną wartość
* Do takich zmiennych należy lista, która jest uporządkowanym zbiorem obiektów, które mogą mieć różny typ

In [54]:
lista = [1, 2, 3, 4, -5, 6, -10]

In [55]:
print(lista)

[1, 2, 3, 4, -5, 6, -10]

In [56]:
print(type(lista))

<class 'list'>

In [57]:
liczby = [0.1, 0.2, 0.3, 4.5, -7.3, 6.87, 10]

In [58]:
print(liczby)

[0.1, 0.2, 0.3, 4.5, -7.3, 6.87, 10]

In [59]:
print(type(liczby))

<class 'list'>

In [60]:
imiona = ['Ala', 'Zygmunt', "Alojzy", "Bogusława"]

In [61]:
print(imiona)

['Ala', 'Zygmunt', 'Alojzy', 'Bogusława']

In [62]:
print(type(imiona))

<class 'list'>

#### Info

* Należy pamiętać, że listy i inne wyrażenia będące sekwencjami numerowane są od `0`

#### Wykrawanie kawałków list

* Można również wykrajać kawałki listy stosując notację `lista[start:stop:krok]`

In [63]:
lista = [1, "Berta", 3, 4, -5, "kot", -10.75, 3.14]

In [64]:
print(lista[1:6])

['Berta', 3, 4, -5, 'kot']

In [65]:
print(lista[2:6:2])

[3, -5]

In [66]:
print(lista[:4])

[1, 'Berta', 3, 4]

In [67]:
print(lista[:3])

[1, 'Berta', 3]

In [68]:
print(lista[-2:])

[-10.75, 3.14]

In [69]:
print(lista[-4:-1])

[-5, 'kot', -10.75]

In [70]:
print(lista[::-1])

[3.14, -10.75, 'kot', -5, 4, 3, 'Berta', 1]

In [71]:
print(lista[:])

[1, 'Berta', 3, 4, -5, 'kot', -10.75, 3.14]

#### Modyfikacja list

* Listy można modyfikować

In [72]:
lista = [1, "Berta", 3, 4, -5, "kot", -10.75, 3.14]

In [73]:
print(lista)

[1, 'Berta', 3, 4, -5, 'kot', -10.75, 3.14]

In [74]:
lista = [2, 3, 5, 7, 9]

In [75]:
print(lista)

[2, 3, 5, 7, 9]

In [76]:
lista[2:4] = ["pies", "a", "2"]

In [77]:
print(lista)

[2, 3, 'pies', 'a', '2', 9]

#### Dodawanie kolejnych elementów na końcu

* W szczególności do list można dodawać kolejne elementy na końcu

In [78]:
lista = [1, "Berta", 3, 4, -5, "kot", -10.75, 3.14]

In [79]:
lista.append("zebra")

In [80]:
print(lista)

[1, 'Berta', 3, 4, -5, 'kot', -10.75, 3.14, 'zebra']

#### Dodawanie kolejnych elementów na i-tym indeksie

* lub na i-tym indeksie

In [81]:
lista = [1, "Berta", 3, 4, -5, "kot", -10.75, 3.14]

In [82]:
lista.insert(2,"zebra")

In [83]:
print(lista)

[1, 'Berta', 'zebra', 3, 4, -5, 'kot', -10.75, 3.14]

#### Python jest językiem obiektowym

* Notacja `lista.metoda()` (np.: `lista.sort()`, `lista.append()`) jest przykładem programowania obiektowego (OOP = _Object Oriented Programming_), ponieważ obiekt jakim jest lista ma zdefiniowaną funkcję dostępną przez notację `..` 
* Sprawdzić wszystkie metody można w `Ipython` używając autokompletowania (Tab)

#### Lista użytecznych metod

* Lista ma wiele użytecznych metod
  * `.append(x)` – dodaje `x` do listy
  * `.remove(x)` – usuwa pierwszy `x` z listy
  * `.pop()` – usuwa i zwraca ostatni element listy
  * `.insert(i, x)` – wstawia `x` przed indeksem `i`
  * `.extend(x)` – dodaje na koniec listy dodatkową zmienną iterowalną `x`
  * `.count(x)` – zwraca ilość wystąpień `x` 
  * `.index(x)` – zwraca indeks pierwszego wystąpienia `x`
  * `.sort()` – sortuje listę rosnąco
  * `.reverse()` – sortuje listę w odwróconym porządku

#### Funkcje działające na sekwencjach

* Funkcje działające na sekwencjach (listach, ciągach znaków oraz krotkach)
  * `len()` – zwraca ilość elementów
  * `reversed()` – zwraca obiekt zawierający odwróconą sekwencję
  * `sorted(lista)` – zwraca kopię listy posortowanej rosnąco
  * `sorted(lista, reverse=True)` – zwraca kopię listy w odwrotnym porządku
  * `enumerate()` – zwraca obiekt zawierający indeksy i elementy sekwencji

#### Zadanie

* Utwórz listę zawierającą imiona wszystkich kursantów
* Następnie ją posortuj alfabetycznie, oraz 
* Sprawdź ile elementów ona zawiera

### Słownik

In [84]:
slownik =  { "ala": "kot", "ola": 1 , "brainer": True}

In [85]:
print(slownik)

{'ala': 'kot', 'ola': 1, 'brainer': True}

* Funkcje (metody):
  * `slownik.keys()`
  * `slownik.values()`
  * `slownik.items()`

In [86]:
tel = {} # pusty słownik

In [87]:
print(tel)

{}

In [88]:
tel = {'Maja': 500456 , 'Jasio': 343455}

In [89]:
print(tel)

{'Maja': 500456, 'Jasio': 343455}

In [90]:
tel['Ola'] = 3024127

In [91]:
print(tel)

{'Maja': 500456, 'Jasio': 343455, 'Ola': 3024127}

In [92]:
del tel['Maja']

In [93]:
print(tel)

{'Jasio': 343455, 'Ola': 3024127}

In [94]:
tel = dict([('Jan', 4139277), ('Kazimierz', 4126327)])

In [95]:
print(tel)

{'Jan': 4139277, 'Kazimierz': 4126327}

In [96]:
c = {x: x**2 for x in (2, 4, 6)}  # {2: 4, 4: 16, 6: 36}

In [97]:
print(c)

{2: 4, 4: 16, 6: 36}

### Zbiór

In [98]:
zbior = {"ala", "kot", 1, 2.89}

In [99]:
print(zbior)

{1, 'ala', 2.89, 'kot'}

* Operacje na zbiorach:
  * sprawdzenie czy `element` należy do zbioru:\
  `zbior: element in zbior`
  * sprawdzenie czy `element` nie należy do zbioru:\
  `zbior: element not in zbior`
  * odejmowanie od siebie zbiorów:\
  `c = a - b`
  * dodawanie do siebie zbiorów:\
  `c = a | b`
  * część wspólna zbiorów:\
  `c = a & b`
  * część rozłączna zbiorów:\
  `c = a ^ b`